@media screen and (max-width: 991px){
	.footer-box{
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 767px){
	.popup_main-content{
		padding: 0 15px;
	}
}
@media screen and (max-width: 549px){
	.developments_title h2{
		font-size: 60px;
	}
	.developments_flex-box_btn button{
		font-size: 14px;
	    height: 35px;
	}
	.developments_flex-box_btn button:nth-child(1){
	    width: 75px;
    	margin-right: 10px;
	}
	.developments_flex-box_btn button:nth-child(2){
	    width: 115px;
	}
	.popup_main-content_title h3{
		font-size: 22px;
	}
	.developments_content-title h3{
		font-size: 40px;
	}
}